@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
header{
    height: 40px;
    padding: 10px 30px;
    background-color: black;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
a{
    text-decoration: none;
    margin: 0px 15px;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0px 15px;
    color: white;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #585858;
    color: black;
    padding: 5px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apresentacao-equipe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.membro{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 200px;
    background-color: #d6d6d6;
    border-radius: 10px;
    box-shadow: 3px 2px #585858;
}

.membro:hover{

}