@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

img{
    width: 200px;
    height: auto;
    margin: 5px;
}


main{
    background-color: #fff;

    padding: 5%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

.apresentacao{
    padding: 50px;
    height: 700px;
    margin: 10px;

    display:block;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.conteudo-apresentacao p, h3{
    text-align: center;
    margin-top: 10px;
}

.apresentacao img{
    border-radius: 100px;
}

.principal{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.conteudo{
    position: relative;
    display: flex;
    margin: 10px;
    border-radius: 10px;
}

.historias{
    width: 600px;
    background-color: #ffbf69;
    border-radius: 10px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    background-color: #ff9f1c;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
}

.btn:hover:active{
    background-color: #874f00;
    color: #fff;
}

.btn:focus{
    background-color: #ffbf69;
    color: black;
}


.hist{
    display: none;
    padding: 20px;
    align-items: flex-start;
}

.hist.active{
    display: block;
}

.fotos{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.foto{
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: width 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

}

.foto img{
    object-fit: cover;
    scroll-snap-align: start;
}

.galeria{
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.galeria button {
    background-color: #ff9f1c;
    color: #fff;
    border: none;

    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

#anterior {
    float: left;
}

#proxima {
    float: right;
}

@media (max-width: 740px){
    body{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }

    main{
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    .apresentacao{
        width: 80%;
        height: auto;
        padding: 2%;
        margin: 2%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .apresentacao img{
        width: 150px;
    }

    .principal{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    
    }

    .conteudo{
        width: 90%;
    }

    .buttons{
        display: grid;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        z-index: 1;
    }

    .historias{
        width: 95%;
        background-color: #ffbf69;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .fotos img{
        width: 30%;
        height: auto;
    }

    .galeria{
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
    }

    h1{
        font-size: 16pt;
    }
}